brotlipy==0.7.0
cadCAD==0.4.23
certifi==2021.10.8
cffi
charset-normalizer
cryptography
cycler==0.11.0
dill==0.3.4
eth-utils==2.0.0
fn==0.4.3
fonttools==4.29.0
funcy==1.17
idna
kiwisolver==1.3.2
matplotlib==3.5.1
multiprocess==0.70.12.2
numpy==1.22.1
packaging==21.3
pandas==1.4.0
pathos==0.2.8
Pillow==9.0.0
pox==0.3.0
ppft==1.6.6.4
pycparser
pyOpenSSL
pyparsing==3.0.7
PySocks
python-dateutil==2.8.2
pytz==2021.3
requests
six
urllib3==1.26.7
win-inet-pton
wincertstore==0.2